.container {
    padding: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table thead {
    background-color: #343a40;
    color: white;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .border-3 {
    border-width: 3px !important;
  }
  
  .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  