.shadow-3xl {
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.1);
  }
  

  .shadow-bottom-3xl {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .navbar {
    transition: top 0.3s;
  }
  .navbar a {
    text-decoration: none;
  }
  
  
  .navbar a {
    text-decoration: none;
    color: inherit; 
  }
  .navbar {
    border-top: 3px solid #28a745; /* Green color */
  }