:root {
--background-color-light : #FAF9F6;
--background-color-dark : #222222;
--text-color-dark : #FAF9F6;
--text-color-light : #222222;
}

body{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  
}

input{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

button{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.card{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.other{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}


.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light .card{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
.light .other{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light input{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light button{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-dark);
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: var(--text-color-light);
}
.navbar {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  height: 60px; 
}

.navbar .nav-link {
  color: var(--text-color-light);
}

.light .navbar {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.light .navbar .nav-link {
  color: var(--text-color-dark);
}

.navbar .nav-item .nav-link h6, .navbar .nav-item .nav-link h5 {
  margin: 0;
  padding: 0;
}

.navbar .nav-item button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

/* Add more specific styling to your layout to ensure the navbar behaves correctly */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}